
// Colors
$amarillo: #EABF71;
$rojo: #914B4C;
$gris: #707070;
$gris-dark: #4B4B4B;
$blanco: #fff;
$negro: #212121;

// Typography:
$font-montserrat: "Montserrat", sans-serif;
$font-roboto: "Roboto", sans-serif;

// Transition:
$transition: all .2s ease-in;

// Breakpoint
$breakpoint_500px: 500px;
$breakpoint_768px: 768px;
$breakpoint_960px: 960px;

