#about{
    background-color: $amarillo;
    @include respond-below(md){
        min-height: 400px;
        height: auto;
    }
    .about-tittle {
        @include respond-below(md){
            background-image: none!important;
        }
        @include respond-above(md){
            background-repeat: no-repeat;
            background-size: 60%;
            height: 81px;
            padding: 0 0px 0 130px;
        }
        h2 {
            font-size: 2rem;
            display: block;
            @include respond-above(md){
                width: 80%;
                padding-top: 15px;
                margin-left: 86px;
            }
        }
    }
    p{
        color:$blanco;
         @include respond-below(md){
             font-size: 16px;
         }
    }
    &:after{
        height: 10px;
        display: block;
        width: 80%;
        margin: 50px auto 0 auto;
        border-bottom: solid 3px white;
        content: '';
    }

}/*fin aboutus*/