.navbar-theme{
    height: 100px;
    background-color:$blanco;
    @include respond-below(lg){
        min-height: 100px;
        height: auto;
    }
    .logo{
        width: auto;
        height: 80px;
        @include respond-below(sm){
            width: 225px;
            @include respond-below(xs){
                width: 210px;
            }
            h1 {
                font-weight: 300;
                text-align: left;
                font-style: italic;
                color: $rojo;
                margin: 0;
                @include respond-below(xs){
                    font-size: 20px;
                }
            }
        }

    }
    .content-menus{
        width: 100%;;
        .menu-redes{
            padding-right: 15px;
            margin-bottom: 5px;
            ul{
                li{
                    a{
                        font-size: 24px;
                        color:$rojo;
                    }
                }
            }
        }
        .navbar-nav{
            li{
                color:$gris;
                a{
                    color:$gris!important;
                    font-weight: 500;
                    text-transform: uppercase;
                    &:hover{
                        color:$rojo;
                    }
                    &:active{
                        color:$rojo;
                    }
                }
            }
        }
    }
/*fin navbartheme*/
}
