#portada-home{
    .carousel-inner{
        @include respond-above(lg){height: 450px;}
        .carousel-item {
            @include respond-above(lg){
                position: absolute !important;
                top: -63%;
            }
            
        }
    }
}
#slide-pages{
    padding: 50px 0;
    border-bottom: 3px solid $amarillo;
    background-color: $amarillo;
    .carousel-inner{
        //@include respond-above(lg){height: 95vh;}
        .carousel-item{
            height: 450px;
            background-size: cover;
            background-position: center;
        }
    }
}