#portada-home{
    .carousel-inner{
        @include respond-above(lg){height: 450px;}
        .carousel-item {
            @include respond-above(lg){
                position: absolute !important;
                top: -63%;
            }
            
        }
    }
}
#slide-pages{
    border-bottom: 3px solid $amarillo;
    .carousel-inner{
        @include respond-above(lg){height: 95vh;}
        
    }
}